mixin eventCard(img, title, txt1, txt2)
	//====== карточка для фото-контента =============
	a(href="media-gallery.html" target="_blank").event-card.event-card--foto
		.event-card__header
			.event-card__label
				svg.foto-svg
					use(href="./img/svg-sprite.svg#foto-svg")
			img(src="./img/media/media"+ img +".jpg", width="480" height="328" alt="alt")
		.event-card__body
			.text-medium !{title}
		.card-flex__footer
			.text-14 !{txt1}
			.text-14 !{txt2}
mixin eventCardVideo(img, title, txt1, txt2)
	//====== карточка для видео-контента =============
	a(href="media-video.html" target="_blank").event-card.event-card--video
		.event-card__header
			//=====label=====
			.event-card__label
				svg.cam-svg
					use(href="./img/svg-sprite.svg#cam-svg")
			//===== icon-play =====
			.button-play
				.ic-play
			
			img(src="./img/media/media"+ img +".jpg", width="480" height="328" alt="alt")
		.event-card__body
			.text-medium !{title}
		.card-flex__footer
			.text-14 !{txt1}
			.text-14 !{txt2}
mixin eventCardAudio(img, title, txt1, txt2)
	//====== карточка для аудио-контента =============
	a(href="media-video.html" target="_blank").event-card.event-card--audio
		.event-card__header
			//=====label=====
			.event-card__label
				svg.mic-svg
					use(href="./img/svg-sprite.svg#mic-svg")
			//===== icon-play =====
			.button-play
				.ic-play
			
			img(src="./img/media/media"+ img +".jpg", width="480" height="328" alt="alt")
		.event-card__body
			.text-medium !{title}
		.card-flex__footer
			.text-14 !{txt1}
			.text-14 !{txt2}
.our-media
	.container
		.media-search
			form.search-form()

				.form-item.form-item--icon-right
					//====== кнопка лупа ========
					button.form-item__icon(type="")
						.ic-search
					
					input(type="text" placeholder="Описание поля")
			.search-results
				.search-results__header
					.title-24 Результаты поиска
					button.btn.btn-46
						svg.del-svg
							use(href="./img/svg-sprite.svg#del-svg")
						span Очистить
				.search-results__empty  К сожалению по вашему запросу ничего не найдено. Попробуйте снова.
	.media-body
		.container
			.media-tabs
				.tabs-toggle
					button.tab-btn
						svg.app-svg
							use(href="./img/svg-sprite.svg#app-svg")
						span Все материалы
					button.tab-btn
						svg.cam-svg
							use(href="./img/svg-sprite.svg#cam-svg")
						span Видеоматериалы
					button.tab-btn
						svg.foto-svg
							use(href="./img/svg-sprite.svg#foto-svg")
						span Фотографии
					button.tab-btn
						svg.mic-svg
							use(href="./img/svg-sprite.svg#mic-svg")
						span Вебинары

			.media-cards.cards-grid
				+eventCardVideo(1, 'Социальное проектирование: как&nbsp;доработать проект до&nbsp;заявки на&nbsp;президентский грант', 'Автор: Глазкова А.М.', 'Mp4, 15.06 Мб')
				
				+eventCard(2, 'Детские спортивные сборы «КОМАНДА», 2&nbsp;смена, г.&nbsp;Москва', 'Автор: КОМАНДА','Jpeg, 20 шт')
				
				+eventCardAudio(3, 'PR и связи с общественностью', 'Автор: Чеберко-Рейжевская К.А', 'Mp4, 15.06 Мб')
				+eventCard(4, 'Детские спортивные сборы «КОМАНДА», 1 смена 11.06-24.06.2022, г.&nbsp;Москва', 'Автор: КОМАНДА','Jpeg, 30 шт')

				+eventCardAudio(5, 'Видеоуроки "Играть, чтобы знать!". Видеоурок "Имаджинариум"','Автор: Кудашов Г.Н.', 'Mp4, 15.06 Мб')

				+eventCardAudio(6, 'Мы против террора', 'Автор: ВОД Наставники России', 'Mp4, 15.06 Мб')

				+eventCardVideo(7, 'Спецназ - Парни из стали', 'Автор: ВОД Наставники России', 'Mp4, 15.06 Мб')
				
				+eventCardAudio(8, 'Применение игровых и&nbsp;цифровых технологий в&nbsp;патриотическом воспитании', 'Автор: Силин А.Г.','Mp4, 15.06 Мб')
				
				+eventCard(9, 'Детские спортивные сборы «КОМАНДА», летняя смена «Равнение на Героев», г&nbsp;Москва', 'Автор: КОМАНДА','Jpeg, 15 шт')
			
				//======== карточка - заглушка  получает атрибут DISABLED =========
				div( disabled).event-card
					.event-card__header
					.event-card__body
						.text-medium Скоро тут будут еще материалы
					.card-flex__footer
						.text-14 Автор:
						.text-14 Pdf, 0.0 кб
				
			//======== PAGINATION===========
			.pagination-block
				button.pag-btn.pag-prev
				button.pag-btn.pag-current 1
				button.pag-btn 2
				button.pag-btn 3
				button.pag-btn ...
				button.pag-btn.pag-next